<!DOCKTYPE html>
<html lang="en" dir ='ltr'>
    <body>
        <div class = 'content'>
           <h1 align = 'center'> Diamond Price Linear Regression Model</h1>
             <div class = 'form'>
                <form action='/predict' method = "post">
                    <input type='number' id='carat'  placeholder='carat'>
                    <input type='number' id='cut' placeholder='cut'>
                    <input type='number' id='color' placeholder='color'>
                    <input type='number' id='clarity' placeholder='clarity'>
                    <input type='number' id='depth' placeholder='depth'>
                    <input type='number' id='table' placeholder='table'>
                    <input type='number' id='x' placeholder='x length'>
                    <input type='number' id='y' placeholder='y width'>
                    <input type='number' id='z' placeholder='z depth'>
                
                    
                    <input type='submit' value = 'Predict'>
                    
                </form>
             </div>
        </div>
    </body>